/***********************************************************************************/
/* * Layout e programação desenvolvido por GAIA Desenvolvimento Web & UX/UI Design */
/***********************************************************************************/


/* ? *************************** Definindo variáveis fixas **************************/

:root {
    --amarelo-principal: #FEC013;
    --azul-secundario: #0E183B;
    --laranja-principal: #F37425;
    --cinza-fundo: #E4E4E4;
    --branco-fundo: #ffffff;
    --fonte-principal: "Inter", system-ui;
    --preto-principal: #000000;


}
body {
    margin: 0;
    padding: 0;
    background-color: var(--azul-secundario);
}
a:any-link {
    text-decoration: none;
}

/* TODO ================ MOBILE / 490 PX ================================ */
/* TODO ================================================================= */

@media screen and (max-width: 490px){
    /***************************************  HEADER ***********************************/
    /***********************************************************************************/
    .container_header {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        color: var(--preto-principal);
        margin: 0;
    }
    .title_box {
        background-color: var(--amarelo-principal);
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        
    
    }
    .header_title {
        font-size: 28px;
        font-weight: bolder;
        font-family: var(--fonte-principal);
        color: var(--azul-secundario);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 1.5rem;
    }

    /*****************************  APRESENTAÇÃO DO WORKSHOP ***************************/
    /***********************************************************************************/

    .container_apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
    }
    .workshop_tittle {
        color: var(--branco-fundo);
        font-size: 32px;
        text-align: center;
        font-family: var(--fonte-principal);
    }
    .workshop_tittle strong {
        color: var(--amarelo-principal);
        font-size: 36px;
        font-weight: 900;

    }
    .workshop_subtitle {
        color: var(--branco-fundo);
        font-size: 19px;
        font-weight: 400;
        font-family: var(--fonte-principal);
        text-align: center;
        padding-bottom: 1rem;
    }
    .workshop_palestrantes {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .palestrante_box {
        display: flex;
        flex-direction: column;
        background-color: var(--amarelo-principal);
        padding: 0;
        margin: 0;
        border: 1px solid var(--amarelo-principal);
        border-radius: 8px;
    }
    .texto_nome {
        font-family: var(--fonte-principal);
        color: var(--preto-principal);
        font-weight: bold;
        text-align: center;
        font-size: 14px;
    }
    .texto_profissao {
        font-family: var(--fonte-principal);
        color: var(--preto-principal);
        font-weight: bold;
        text-align: center;
        font-size: 8px;
    }
    .container_info {
        display: flex;
        flex-direction: column;
        
    }
    .info_local {
        font-family: var(--fonte-principal);
        font-size: 28px;
        color: var(--amarelo-principal);
        font-weight: bold;
        margin: 0;
        padding-top: 2rem;
        text-align: center;
    }
    .info_endereco{
        font-family: var(--fonte-principal);
        font-size: 12px;
        color: var(--branco-fundo);
        font-weight: 300;
        margin: 0;
        
        text-align: center;
    }
    .info_box {
        display: flex;
        justify-content: space-evenly;
        color: var(--amarelo-principal);
        font-weight: 500;
        font-family: var(--fonte-principal);
    }
    .mapa {
        display: flex;
        justify-content: center;
    }
    /*****************************  PAGAMENTOS E DESTAQUE BRUNO*************************/
    /***********************************************************************************/
    .info_pagamento {
        display: flex;
        background-color: var(--amarelo-principal);
        margin-top: 1.5rem;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 3rem;
    }
    .info_vagas {
        width: 30vw;
        text-align: center;
        justify-content: center;
        padding-top: 1rem;
        
    }
    .info_vagas p {
        font-size: 14px;
        font-weight: 400;
        color: var(--preto-principal);
        font-family: var(--fonte-principal);
    }
    .info_vagas strong {
        color: var(--branco-fundo);
        font-weight: 600;
    }
    .bruno_intro {
        background-color: var(--amarelo-principal);
        display: flex;
        flex-direction: column;
    }
    .bruno_intro img {
        width: 28px;
        
    }
    .bruno_title{
        font-family: var(--fonte-principal);
        text-align: left;
        font-weight: 800;
        margin: 0 6rem 0 2rem;
        padding-bottom: 1rem;
        font-size: 18px;
    }
    
    .destaque_bruno{
        display: flex;
        justify-content: end;
        align-items: end;
        padding-right: 0.5rem;
        height: 80px;
  
    }
    .destaque_bruno_txt {
        background-color: var(--amarelo-principal);
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        padding-right: 1rem;
        margin-bottom: 2rem;
        
    }
    
    .bruno_nome {
        margin: 0;
        font-size: 18px;
        color: var(--preto-principal);
        font-weight: 700;
        font-family: var(--fonte-principal);
    }
    .bruno_profissao {
        margin: 0;
        font-size: 15px;
        color: var(--preto-principal);
        font-weight: 400;
        font-family: var(--fonte-principal);
    }
    .linha_branca {
        border: 1px solid var(--branco-fundo);
        width: 60%;
        margin-bottom: 1rem;
    }
    .bruno_objetivo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem 1rem 1rem;
    }
    .bruno_objetivo p {
        color: var(--branco-fundo);
        font-family: var(--fonte-principal);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }
    .bruno_objetivo strong {
        color: var(--amarelo-principal);
    }

    .bruno_formacao {
        margin: 0 1.7rem;
    }
    .bruno_formacao p {
        color: var(--branco-fundo);
        font-family: var(--fonte-principal);
        font-size: 15px;
        
    }
    .bruno_formacao strong {
        font-style: italic;
    }
    .bruno_caminho {
        font-family: var(--fonte-principal);
        font-weight: 600;
    }
    .bruno_formacao li {
        color: var(--branco-fundo);
        font-family: var(--fonte-principal);
        padding-bottom: 1rem;
    }
    .bruno_intencao strong{
        font-style: italic;
    }


    /*****************************  DESTAQUE ZAINE PSICÓLOGA *************************/
    /***********************************************************************************/
    .zaine_foto{
        display: flex;
        margin: 0 auto;
    }
    .zaine_formacao {
        display: flex;
        flex-direction: column;
        background-image: url(./img/bg_menor.svg);
        position: relative;
        
        
    }
    .zaine_nome {
        font-family: var(--fonte-principal);
        font-size: 14px;
        font-weight: bold;
        color: var(--azul-secundario);
    }
    .zaine_profissao {
        font-family: var(--fonte-principal);
        font-size: 10px;
        
        color: var(--azul-secundario);
    }
    .zaine_info {
        background-color: var(--amarelo-principal);
        width: 100%;
        background-image: url(./img/bg_menor.svg);
        background-blend-mode: multiply;
        text-align: center;
        height: 38px;
        justify-content: center;
        align-content: center;
        
    }
    .zaine_info p{
        margin: 0;
    }
    .zaine_curriculo {
        background-image: url(./img/bg_menor.svg);
        background-color: var(--azul-secundario);
        width: 100%;
        color: var(--branco-fundo);
        font-family: var(--fonte-principal);
        text-align: center;
        background-blend-mode: multiply;
        justify-content: center;
        align-content: center;
        
    }
    .zaine_curriculo p {
        padding: 0 2rem;
    }
    .zaine_atuacao {
        margin: 0 1.7rem;
        color: var(--branco-fundo);
        font-size: 16px;
        font-family: var(--fonte-principal);
    }

    /*****************************  CONTAINER INSCRIÇÃO *************************/
    /***********************************************************************************/
    .container_inscricao {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inscricao_title {
        height: 45px;
        background-color: var(--amarelo-principal);
        font-size: 30px;
        font-weight: bold;
        width: 100%;
        font-family: var(--fonte-principal);
        text-align: center;
        color: var(--azul-secundario);
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .inscricao_detalhes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inscricao_detalhes img {
        width: 80vw;
    }
    .detalhes_data {
        font-family: var(--fonte-principal);
        font-size: 38px;
        font-weight: bolder;
        color: var(--amarelo-principal);
        margin: 0;
    }
    .detalhes_local {
        font-family: var(--fonte-principal);
        font-size: 22px;
        font-weight: bolder;
        color: var(--amarelo-principal);
        margin: 0.5rem 0 0 0;
    }
    .detalhes_endereco {
        font-family: var(--fonte-principal);
        color: var(--branco-fundo);
        font-size: 12px;
        font-weight: 300;
        margin: 0;
    }
    /*****************************  FORMULÁRIO BASE *************************/
    /***********************************************************************************/

    .fomulario_base {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    .fomulario_base input {
        width: 80vw;
        height: 32px;
        background-color: var(--cinza-fundo);
        border: 1px solid var(--cinza-fundo);
        margin: 0.5rem 0;
    }

    .btn_comprar {
        width: 60vw;
        margin-top: 1rem;
        background-color: var(--amarelo-principal);
        height: 32px;
        
    }
}

/* TODO ======== MOBILE / 491 PX  ATÉ 768PX ============================== */
/* TODO ================================================================= */

@media only screen and (min-width: 491px) and (max-width: 768px){

}

/* TODO ======== TABLET / 769 PX  ATÉ 1023PX ============================= */
/* TODO ================================================================= */

@media only screen and (min-width: 769px) and (max-width: 1023px){

}

/* TODO ======== NOTEBOOK / 1024 PX  ATÉ 1200PX ============================ */
/* TODO ================================================================= */
@media only screen and (min-width: 1024px) and (max-width: 1200px){
    
}

/* TODO ======== PC 1024 PX  ATÉ 1200PX ============================ */
/* TODO ================================================================= */
@media only screen and (min-width: 1024px) and (max-width: 1200px){
    
}


/* TODO ======== DESKTOP / MIN 1201PX  ============================ */
/* TODO ================================================================= */
@media screen and (min-width: 1201px){

}

